
/* Képválasztós app styles: */
body{
	
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
#imgTable {
	display: block;
	margin: auto;
	width: 400px;
	height: 400px;
	border-collapse: collapse;
}

#imgTable td {
	border: 5px solid black;
	border-color: #0C3683;
}

.picSelectClass {
	background-color: white;
}

/* Tárgyválasztós és checker appok kinézetei: */

#objSelPic {
	border: 10px solid black;
	border-color: #0C3683;
	height: 450px; 
	width: 450px;
}

.objOnPic, .objNotOnPic, .checkbox {
	margin: 5px;
	height: 25px;
	width: 25px;
}

#objSelDiv label, .checkbox_label {
	padding-right: 5px;
	color: #0C3683;
	font-size: 25px;
	font-weight: bold;
}

#checkbox {
	margin: 5px;
	height: 50px;
	width: 50px;
}

.checkthis_label {
	color: #0C3683;
	font-size: 50px;
	font-weight: bold;
}
.btn-info{
	margin: 5px;
}